<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81364080009-p0hau9tk8vstu8t73vcehu68iludhr2v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81364080009-p0hau9tk8vstu8t73vcehu68iludhr2v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>81364080009-lgaq60rp3r1fducq3jcnisghptnke25t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDnTGWrtA6kiKXatHQ1aEacpVf828bNTkE</string>
	<key>GCM_SENDER_ID</key>
	<string>81364080009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>YesITLab.Zyvo1</string>
	<key>PROJECT_ID</key>
	<string>zyvo-1aea1</string>
	<key>STORAGE_BUCKET</key>
	<string>zyvo-1aea1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81364080009:ios:59a1c2070da3345d73bd58</string>
</dict>
</plist>